.new-by-iam-role,
.new-by-accesskey {
  @include container;
  padding: 0 5px;

  select {
    display: none;
  }

  .new-by-iam-role-box,
  .new-by-accesskey-box {
    border-radius: 2px;
    background: #fff;
    box-shadow: 1px 1px 1px #CCC;
    margin: 25px 0;
    @include clearfix;
    @include container;
    overflow: hidden;
    padding-bottom: 5px;

    .panel__header {
      margin-bottom: 5px;
    }

    .panel__description {
      padding: 15px 10px;
    }

    .box__row {
      margin: 10px;
      max-width: 500px;
      @include clearfix;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: stretch;

      @include breakpoint(1100px) {
        flex-direction: row;
        margin: 10px 30px;
      }

      .box__label {
        text-transform: uppercase;
        font-size: 13px;
        padding-left: 5px;
        padding-right: 7px;
        flex: 0 1 auto;
        align-self: auto;
        line-height: 35px;
        font-weight: 400;

        @include breakpoint(1100px) {
          width: 195px;
          text-align: right;
        }
      }

      .box__value {
        flex: 1 1 auto;
        line-height: 35px;
        width: 100%;

        &--small {
          @include breakpoint(1100px) {
            width: 160px;
          }
        }

        &--large {
          @include breakpoint(1100px) {
            width: 250px;
          }
        }

        input {
          height: 35px;
          line-height: 35px;
          background: transparent;
          border: 1px solid #bfbfbf;
          border-radius: 2px;
          color: #333;
          width: 100%;
          padding: 0 5px;
          font-family: Raleway, sans-serif;
        }
      }
    }

    .box__instructions__container {

      margin: 10px;

      .box__instruction {

        margin: 10px 0;

        &.box__bulletpoints > div {
          margin: 0 0 10px 20px;
          display: table;

          > div {
            display: table-cell;
            vertical-align: middle;
            padding-left: 10px;
          }
        }

        &.box__delimited {
          background: #ddd;
          font-weight: 500;
          border-radius: 4px;
          margin: 0 0 10px 20px;

          > div {
            margin: 0;
            padding: 10px;

            span {
              padding-left: 1em;

              &.copyBtn {
                font-family: streamline;
                cursor: pointer;
              }
              &:hover {
                color: #333;
              }
            }
          }
        }

        b {
          font-weight: bold;
        }
      }
    }

    .ch-checkbox {
      cursor: pointer;
      vertical-align: middle;
      margin-top: 0;
      width: 20px;
      height: 20px;

      &.active {
        &:after {
          font-size: 16px;
          top: -9px;
          left: 1px;
        }
      }
    }
  }

  .actions {
    padding-bottom: 25px;
    text-align: right;

    button {
      width: 100px;
      border-radius: 2px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.bullet-point {
  font-family: streamline;
}

.credential-edit-field {
  &__label {
    margin-bottom: 10px;
    font-size: 14px;
    padding-left: 2px;
    text-transform: capitalize;
  }

  &__value {
    > * {
      margin-bottom: 10px;
      // Set to 98 so that we don't have to worry about margins
      width: 95%;
    }
  }
}

.credential-edit-division {
  margin: 18px 0 15px 0;
  font-weight: 500;
  color: #333;
  font-size: 14px;
  padding-left: 2px;

  .highlight {
    color: #5288d1;
  }

  &--momargintop {
    margin-top: 0;
  }
}
